* {
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
.indexImg {
    height: auto;
    width: 50%;
    margin: 0%;
}
.backImg {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
/*----------Formulaire-----------*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 40%;
    margin-top: 10%;
    padding: 1%;
    font-size: 15px;
    color: whitesmoke;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.446);
    box-shadow: rgb(255, 255, 255) 0px 0px 10px;
    border: solid rgba(254, 254, 254, 0.616);
    border-radius: 10px;
    transition: 0.5s;
    background-image: url('../img/settings/back-ground/backFive.png');
    background-size: 50%;
}

.register {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.childBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}
.childBoxCivil {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-top: 2%;
    margin-right: 60%;
}

.childBoxButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.box {
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    padding: 0%;
    border: none;
    color: rgb(233, 233, 233);
    backdrop-filter: blur(1px);
    background-color: rgba(82, 82, 82, 0.741);
    transition: 0.5s;
}

.childBoxFile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0%;
    margin-top: 2%;
}

.boxUp {
    position: relative;
    width: 100%;
}

.boxFile {
    position: absolute;
    width: 100%;
    padding: 3% 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    border: none;
    color: rgb(233, 233, 233);
    backdrop-filter: blur(1px);
    background-color: rgba(82, 82, 82, 0.741);
    transition: 0.5s;
}
.boxFileTitle {
    padding-left: 3%;
}

.boxFileType {
    z-index: 1;
    opacity: 0%;
    width: 100%;
    padding: 3% 0%;
    border-radius: 5px;
    border: none;
}

::placeholder {
    padding-left: 3%;
    color: rgb(233, 233, 233);
}

.labelBox {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 0%;
}

.boxSelect {
    width: 100%;
    padding: 3% 0%;
    border-radius: 5px;
    border: none;
    color: rgb(233, 233, 233);
    backdrop-filter: blur(3px);
    background-color: rgba(82, 82, 82, 0.741);
    transition: 0.5s;
}

.cvBox {
    font-size: 20px;
    transition: 0.5s;
}

.boxInfo {
    font-size: 15px;
    color: rgb(255, 97, 97);
    border-radius: 5px;
    padding: 0.2%;
}

.buttonBox {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3% 0%;
    padding: 2%;
    width: 90%;
    color: rgb(233, 233, 233);
    background-color: rgb(155, 114, 17);
    transition: 0.5s;
}

.buttonBox:hover {
    width: 120%;
    color: rgb(144, 101, 1);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 15px;
    transition: 0.5s;
}

.error {
    background-image: url(../img/settings/icons-settings/error.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right;
}

.titleConnect {
    padding: 5%;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    backdrop-filter: blur(1px);
    background-color: rgba(190, 139, 18, 0.56);
    box-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

.titleConnectTwo {
    margin-top: 10%;
}

.boxConnect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

.childBoxConnect {
    width: 100%;
}

.none {
    opacity: 0%;
    display: none;
    transition: 1s;
}

.noNone {
    opacity: 100%;
    font-size: 15px;
    color: whitesmoke;
    transition: 1s;
}



ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    list-style: none;
}

.iconValid {
    color: rgb(40, 206, 40);
}

.iconCancel {
    color: rgb(207, 40, 40);
}

@media all and (max-width: 768px) {
    #boxList {
        position: relative;
        margin-left: 0%;
        margin-top: 0%;
        backdrop-filter: blur(0px);
        background-color: rgba(0, 0, 0, 0);
        box-shadow: rgb(255, 255, 255) 0px 0px 0px;
        border: solid rgba(254, 254, 254, 0);
        border-radius: 0px;
    }
}